@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color: #183b65;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}
body{
    font-family: "poppins", sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
    font-family: "Roboto",sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-bolck;
}
ul{
    list-style: none;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
/* top banner */
.top-banner{
    background-image: url("./assets/asset\ 32.png");
    background-size: 300px;
    background-color: #4fb3d4;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.logo img{
    width: 200px;
}
.main-nav{
    justify-content: space-between;
}
.hover-links{
    flex-basis: 730px;

}
.hover-links ul{
    justify-content: end;
    gap: 40px;
}
.hover-link{
    color: var(--primary-text-color);
    text-transform: capitalize;
    transition: 0.2s ease-out;
}
.hover-link:hover{
    color: var(--accent-color);
}
/* Primary and Secondary Button */
.primary-btn{
    background-color: var(--accent-color);
    border: 6px;
    font-weight: 700;
    color: white !important ;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    border-radius: 6px;

}
.primary-btn:hover{
    background-color: var(--secondary-text-color);
}
.secondary-btn{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    padding: 12px 24px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
}
.secondary-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}
/*---HERO Section--- */
.section-gap{
    padding: 50px var(--padding-inline-section) 0;
}
.header-left{
    width: 40vw;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}
.header-right img{
    width: 100%;
}